.navbar {
    background-color: #FED700;
}

.padding-left {
    padding-left: 20px;
}

.margin-bot {
    margin-bottom: 20px;
}

.os-simpsons {
    margin-top: 3cm;
    background-color: #FAC7CC;
    padding-top: 30px;
    padding-bottom: 20px;
}

.informacoes {
    background-color: #9B30CC;
    color: #B6B2B2;
    padding-top: 20px;
    padding-bottom: 30px;
}

.contato {
    background-color: #808019;
    padding-top: 20px;
    padding-bottom: 30px;
}

@media (min-width: 1200px) {
    .img-fluid {
        width: 1000px;
        height: 500px;
    }
}

.momentos {
    background-color: #4971B6;
    padding-top: 20px;
    padding-bottom: 30px;
}

h4 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.footer {
    background-color: #FED700;
    padding-top: 20px;
    padding-bottom: 20px;
}